apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deploy
spec:
  selector:
    matchLabels:
      app: app-deploy
  template:
    metadata:
      labels:
        app: app-deploy
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port:   '80'          
    spec:
      containers:
      - name: app
        image: fabricioveronez/metricasapi
        ports:
        - containerPort: 80
        env:
          - name: "MONGODB_URI"
            value: "mongodb://mongouser:GPX4WOwpcvOc9Wm70gAG8It7tKA0Cy090ZVO82cEJsExogsMDY@mongodb-service:27017/admin"
